@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

p {
    margin: 0 0 20px;
}

small {
    font-size: 11px;
    
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

footer {
    float: none;
    position: static;
    width: auto;
}

.title{
   font-size: 30px;
   font-weight: 600;
   color: rgb(8, 6, 133);
   letter-spacing: 1px;
   margin: 30px 0;

}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}
.list-head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.entered-list{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.add-list{
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 6, 133);
    outline: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
}
.add-list.active{
    opacity: 1;
    pointer-events: all;
}

.tasks{
    width: 100%;
    margin-top: 30px;
}
.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item p{
    font-size: 16px;
    font-weight: 400;
    color: #111;
    letter-spacing: 1px;

}
.item.completed p{
    text-decoration: line-through;
    color: #11111180;
}
.item-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item-btn i {
    color: rgb(8, 6, 133);
    font-size: 18px;
    cursor: pointer;
}

@media print, screen and (max-width: 960px) {
  
    div.wrapper {
      width:auto;
      margin:0;
    }
  
    header, section, footer {
      float:none;
      position:static;
      width:auto;
    }
  
    header {
      padding-right:320px;
    }
  
    section {
      border:1px solid #e5e5e5;
      border-width:1px 0;
      padding:20px 0;
      margin:0 0 20px;
    }
  
    header a small {
      display:inline;
    }
  
    header ul {
      position:absolute;
      right:50px;
      top:52px;
    }
  }
  
  @media print, screen and (max-width: 720px) {
    body {
      word-wrap:break-word;
    }
  
    header {
      padding:0;
    }
  
    header ul, header p.view {
      position:static;
    }
  
    pre, code {
      word-wrap:normal;
    }
  }
  
  @media print, screen and (max-width: 480px) {
    body {
      padding:15px;
    }
  
    header ul {
      width:99%;
    }
  
    header li, header ul li + li + li {
      width:33%;
    }
  }
  
  @media print {
    body {
      padding:0.4in;
      font-size:12pt;
      color:#444;
    }
  }
